<!doctype html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="~{layouts/config :: config}"></th:block>
<body>
    <div class="text-gray-800">
    <th:block th:replace="~{layouts/header :: header}"></th:block>
    <th:block layout:fragment="contents"></th:block>
    <th:block th:replace="~{layouts/footer :: footer}"></th:block>
    </div>
</body>
<th:block layout:fragment="script">
    <script defer type="text/javascript" th:src="@{/js/main.js}"></script>
</th:block>
