<head th:fragment="config">
 <title th:text="|${pageName}|"></title>
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, maximum-scale=1.0, minimum-scale=1, member-scalable=yes,initial-scale=1.0, shrink-to-fit=no"/>
 <script defer type="text/javascript" th:src="@{/js/common.js}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <link th:href="@{/main.css}" rel="stylesheet" />
</head>