@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    /*font-family: 'MaplestoryOTFBold';*/
    /*src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
}

*{


}
#code_with_me{
    height: 60vh; !important;
}
.gradient-bg {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
body {
    margin: 0;
    padding: 0;
    background-image: url("/static/img/background.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

header {
    grid-row: 1!important;
    z-index: 99 !important;
    min-height: 10vh;

}
main{
    min-height: 85vh;
    grid-row: 2!important;
    overflow-y: scroll; !important;
    scroll-behavior: smooth;
    scrollbar-gutter: auto;
    scrollbar-width: none;
}
footer {
    grid-row: 3; !important;
    z-index: 99 !important;
    min-height: 5vh;
    max-height: 5vh;
}