<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/form_layout}">
<body>
<main layout:fragment="contents" id="contents" class="grid grid-rows-[auto_1fr_auto] min-h-screen">
  <div class="flex justify-center items-center">
    <div class="img-wrapper w-56 h-48">
      <img th:src="@{/img/sothat-logo.png}" alt="SOTHAT logo"/>
    </div>
  </div>

  <section class="flex flex-col items-center">

    <div class="w-full max-w-[700px] bg-white shadow-md h-4/5 rounded-lg px-32 border border-t-2 mt-4">
      <form th:form="@{/joinPage}" th:action="@{/signup}" class="space-y-6 pt-12 ">
        <div>
          <label for="email" class="block text-neutral-500 text-sm font-normal mb-2">
            Email <span class="text-red-500">*</span>
          </label>
          <input type="email" id="email" placeholder="example@example.com"
                 class="w-full px-4 py-3 bg-white rounded-lg shadow-inner border border-zinc-300 focus:outline-none focus:bg-zinc-50 text-zinc-400 text-sm">
        </div>

        <div>
          <label for="name" class="block text-neutral-500 text-sm font-normal mb-2">
            이름 <span class="text-red-500">*</span>
          </label>
          <input type="text" id="name" placeholder="name"
                 class="w-full px-4 py-3 bg-white rounded-lg shadow-inner border border-zinc-300 focus:outline-none focus:bg-zinc-50 text-zinc-400 text-sm">
        </div>

        <div>
          <label for="password" class="block text-neutral-500 text-sm font-normal mb-2">
            비밀번호 <span class="text-red-500">*</span>
          </label>
          <input type="password" id="password" placeholder="비밀번호를 입력하세요"
                 class="w-full px-4 py-3 bg-white rounded-lg shadow-inner border border-zinc-300 focus:outline-none focus:bg-zinc-50 text-zinc-400 text-sm">
        </div>

        <div>
          <label for="confirm-password" class="block text-neutral-500 text-sm font-normal mb-2">
            비밀번호를 확인하세요 <span class="text-red-500">*</span>
          </label>
          <input type="password" id="confirm-password" placeholder="비밀번호를 확인하세요"
                 class="w-full px-4 py-3 bg-white rounded-lg shadow-inner border border-zinc-300 focus:outline-none focus:bg-zinc-50 text-zinc-400 text-sm">
        </div>

        <div class="flex justify-between items-center mt-8">
          <button type="submit" class="bg-indigo-400 text-white py-2 px-6 rounded-lg font-semibold hover:bg-indigo-500 transition duration-300 font-black">
            submit
          </button>
          <div class="w-25 text-right">
            <span class="text-gray-600 text-sm -mr-2">back to</span>
            <a href="/loginPage" class="text-blue-400 text-sm font-semibold ml-1 hover:text-blue-600 hover:font-bold transition duration-300">Login</a>
          </div>
        </div>
      </form>
    </div>
  </section>

  <footer class="flex justify-center items-center py-5">
    <a href="/" class="text-gray-600 text-sm hover:text-gray-800 transition duration-300">Back to Home</a>
  </footer>
</main>
</body>
</html>