<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="layout (title, content)"><head>
  <meta charset="UTF-8">
  <title>Welcome joinPage</title>
</head>
<body>
<h1>Welcome joinPage</h1>

<div sec:authorize="isAuthenticated()">
  <p>Hello, <span th:text="${#authentication.name}">User</span>!</p>

  <p th:if="${#authentication.principal.attributes['email']}">
    Your email: <span th:text="${#authentication.principal.attributes['email']}">email@example.com</span>
  </p>
</div>

<p>
  <a sec:authorize="isAnonymous()" th:href="@{/oauth2/authorization/google}">Login with Google</a>
  <a sec:authorize="isAnonymous()" th:href="@{/loginPage}">LoginForm</a>
  <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
</p>
</body>
</html>